.root {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(204.0,255.0,255.0) 0.0, rgb(128.0,153.0,255.0) 100.0 )
}

.menu {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(204.0,255.0,255.0) 0.0, rgb(128.0,153.0,255.0) 100.0 )
}

.menu-item {
	-fx-text-fill: rgb(153.0,0.0,0.0);
}

.menu > .container > .menu:openvertically:hover {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(204.0,255.0,255.0) 0.0, rgb(128.0,153.0,255.0) 100.0 )
}

.context-menu {
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(204.0,255.0,255.0) 0.0, rgb(128.0,153.0,255.0) 100.0 )
}

.context-menu > .text {
	-fx-text-fill: rgb(0.0,0.0,255.0)
}


